<p>Buy Or Sell Product</p>

<form [formGroup]="transactProductFG" (ngSubmit)="onSubmit()">
    <label for="productId">Product</label>
    <select
        formControlName="productId"
        id="productId"
        (change)='onOptionsSelected($event)'
    >
        <option *ngFor="let product of allProducts$ | async" value="{{product.id}}">{{product.name}}</option>
    </select>
    <br>
    <label for="price">Price</label>
    <input
        type="number"
        placeholder="Price"
        formControlName="price"
        id="price"
    >
    <br>
    <label for="quantity">Quantity</label>
    <input
        type="number"
        placeholder="quantity"
        formControlName="quantity"
        id="quantity"
    >
    <br>
    <input
        type="radio"
        formControlName="buysell"
        id="buy"
        value="buy"
    >
    <label for="buy">Buy</label>
    <br>
    <input
        type="radio"
        formControlName="buysell"
        id="sell"
        value="sell"
    >
    <label for="sell">Sell</label>
    <br>
    <button type="submit">Submit</button>
</form>
<p *ngIf="selectedProduct$ | async as product">{{product.id}} - {{product.name}}
    <img [src]="product.image">
    <a routerLink="/product/{{product.id}}/edit" #productEditLink>Edit</a>
</p>

<p *ngIf="createdTransaction$ | async">Transaction Created</p>

<p>Transactions:</p>
<p *ngFor="let transaction of transactionsPerProduct$ | async">{{transaction | json}}</p>

<p>Inventory:</p>
<p *ngIf="selectedProductInventory$ | async as inventory">{{inventory | json}}</p>

<ng-container *ngIf="hasSubmitted">
    <p class="errors" *ngIf="productIdControlErrors?.['required']">Product Id is required</p>
    <p class="errors" *ngIf="quantityControlErrors?.['required']">Quantity is required</p>
    <p class="errors" *ngIf="priceControlErrors?.['required']">Price is required</p>
    <p class="errors" *ngIf="buysellControlErrors?.['required']">BuySell is required</p>
    <p class="errors" *ngIf="quantityControlErrors?.['max']">Quantity should not exceed {{quantityControlErrors?.['max'].max}}, actual:{{quantityControlErrors?.['max'].actual}}</p>
    <p class="errors" *ngIf="priceControlErrors?.['max']">Price should not exceed {{priceControlErrors?.['max'].max}}, actual:{{priceControlErrors?.['max'].actual}}</p>
    <p class="errors" *ngIf="generalControlErrors?.['InventoryStockExceeded']">Sell Quantity of {{generalControlErrors?.['SellQuantity']}} should not exceed stock quantity {{generalControlErrors?.['InventoryStock']}}</p>
</ng-container>
